/* Entry Index layout styles */
header{
    text-align: center;
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
}

#pageTitle{
    margin-top: 80px;
    font-size: 50pt;
}

header h2{
    margin: -20px auto 50px auto;
}

nav{
    width: 60vw;
    padding-left: 20vw;
    padding-right: 20vw;
    text-align: center;
    position: sticky;
    top: -30px;
}

nav ul{
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: center;
}

nav ul li{
    padding: 15px 45px;
    
}

/* Entry layout styles */
.entry{
    display: inline-block;
    width: 60vw;
    padding-right: 20vw;
    padding-left: 20vw;
}

.entryHeader{
    display: grid;
    grid-template-columns: 10vw 40vw 10vw;
    grid-template-rows: 90px 60px;
    justify-content: center;
}

.entry h2{
    text-align: center;
    font-size: 40pt;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.subtitle{
    text-align: center;
    font-size: 1.5pc;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.date{
    font-size: 1rem;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}



.entryList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.entryList > div{
    flex-basis: 25vw;
}

.entryList h3{
    text-align: center;
}

.entryList + div{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    align-items: center;
}

.entryList + div h3{
    font-size: 18pt;
}

.entryMain{
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

.entrySong{
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
}

.entrySong audio{
    width: 15vw;
}

.entrySong img{
    width: 15vw;
}

