/* General styles */
body{
    margin: 0;
    padding: 0;
    background-color: rgba(237, 242, 244, 1);
}

*{
    font-family: 'Montserrat', sans-serif;
    
}

/* Entry Index styles */
header{
    text-align: center;
    margin-top: -50px;
    padding-left: 20%;
    padding-right: 20%;
    width: 60%;
    padding-bottom: 40px;
    background-color: #2b2d42;
    color: white;
}

#pageTitle{
    padding-top: 40px;
    font-size: 50pt;
}

header h2{
    margin: -20px auto 0 auto;
}

nav{
    background-color: #8d99ae;
    width: 100%;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
    position: sticky;
    top: -60px;
    justify-content: center;
    color: white
}

nav ul{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: center;
}

nav ul li{
    padding: 15px 45px;
    
}

nav ul a:hover{
    background-color: #ef233c;
}

nav ul a:active{
    background-color: #ef233c;
}

nav ul a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    background-color: #d90429;
    margin: auto 10px;
    min-width: 160px;
    border-radius: 6px;
}

main{
    margin-top: -60px;
    padding-top: 60px;
}

/* Entry styles */
.entry{
    display: inline-block;
    width: 60%;
    padding-right: 20%;
    padding-left: 20%;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}

#day1, #day3{
    background-color: #ef233c;
}

#day2{
    background-color: #2b2d42;
}

.entryHeader{
    display: grid;
    grid-template-columns: 10vw 40vw 10vw;
    grid-template-rows: 90px 60px;
    justify-content: center;
}

.entry h2{
    text-align: center;
    font-size: 40pt;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.subtitle{
    text-align: center;
    font-size: 1.5pc;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.date{
    font-size: 1rem;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}



.entryHeader ~ section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.entryList > div{
    flex-basis: 25vw;
}

.entryList div[title="highlights"], .entryList div[title="tasks"]{
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 6px;
    border-style: solid;
    border-width: 5pt;
}

.entryList div[title="highlights"]{
    background-color: #2b2d42;
    border-color: hsla(0, 0%, 12.5%);
}

.entryList div[title="tasks"]{
    background-color: #edf2f4;
    color: black;
    border-color: #8d99ae;
}

.entryList h3{
    text-align: center;
}

.entryList + div{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    align-items: center;
}

.entryList + div h3{
    font-size: 18pt;
}

.entryMain{
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    padding: 15px;
    margin: 15px;
    background-color: #d90429;
    border-radius: 6px;
}

.entrySong{
    margin-top: 20px;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
    background-color: #8d99ae;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

.entrySong audio{
    width: 15vw;
    padding-bottom: 20px;
    
}

.entrySong img{
    width: 15vw;
}

#entry2Highlights{
    background-color: #ef233c;
    border-color: #d90429;
}

#entry2Main{
    background-color: #8d99ae;
}

#entry2Song{
    background-color:  hsla(0, 0%, 12.5%);
}

/* Create New Entry layout styles */
#createNewEntry{
    text-align: center;
    width: 60%;
    padding-top: 40px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 40px;
}

#createNewEntry form{
    padding-top: 40px;
}

#createNewEntry fieldset{
    margin: 0;
    padding: 0;
    border-width: 0;
}

#createNewEntryContent{
    margin-top: 40px;
    margin-bottom: 40px;
}

#createNewEntryTextTitle {
    font-size: 18pt;
    padding-bottom: 40px;
}

#createNewEntryText textarea{
    margin-top: 30px; 
    width: 98%;
}

#createNewEntrySong {
    margin-top: 30px;
    display: block;
}

#createNewEntrySong legend{
    font-size: 18pt;
}

